:host {
    font-family: Arial, 'Salesforce Sans', Helvetica, sans-serif;
}

.flyout__expandable-area {
    margin-bottom: var(--lwc-varSpacingSmall, 0.75rem);
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    border-radius: 0 0 var(--lwc-borderRadiusMedium, 0.25rem) var(--lwc-borderRadiusMedium, 0.25rem);
}

.flyout__expandable-header {
    color: var(--lwc-colorTextDefault, #080707);
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    background-color: var(--lwc-colorBackground, #f3f2f2);
}

.flyout__expandable-header button,
.flyout__expandable-header button:focus .flyout__expandable-header button:hover {
    color: inherit;
    text-decoration: none;
    line-height: normal;
}

.flyout__expandable-headerSubText {
    color: #706e6b;
}

.appointment-order-items__master-container {
    padding-top: var(--lwc-varSpacingSmall, 0.75rem);
}

.appointment-order-items__grid-master-container {
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    margin-top: 12px;
}

.appointment-order-items__grid-header-container {
    background-color: var(--lwc-colorBackground, #f3f2f2);
    padding: var(--lwc-varSpacingXSmall, 0.5rem);
}

.appointment-order-items__item-grid-header.xxlabel {
    color: #3e3e3c;
    font-size: 13px;
    font-weight: bold;
}

.appointment-order-items__grid-content-container {
    padding: var(--lwc-varSpacingXSmall, 0.5rem);
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    align-items: center;
}

.appointment-order-items__grid-content-container:last-child {
    border: none;
}
