.grandparent__master-container {
    height: 800px;
    padding: var(--lwc-varSpacingMedium, 1rem);
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}
