.trackdec__flexbox {
    display: flex;
    align-items: center;
}

.trackdec__flexbox-clone {
    display: flex;
}

.trackdec__spinner-demo-section {
    padding: var(--lwc-varSpacingMedium, 1rem);
}
