:host {
    font-family: Arial, 'Salesforce Sans', Helvetica, sans-serif;
}

.slds-table thead th {
    background-color: var(--lwc-colorBackground, #f3f2f2);
}

/* disable the hover state of resize handler */
.slds-resizable__handle {
    will-change: transform;
}

.orderItem__master-container-x {
    padding: 0;
    max-height: 140px;
}

.orderItem__master-container-y {
    background-color: #ffffff;
}

.orderItem__table {
    border: 0;
}

/* remove the excessive height of resize handler */
.slds-resizable__divider:after {
    height: 100%;
}
