.quantity__master-container {
    /* width: fit-content; */
    width: auto;
    align-items: center;
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #dddbda);
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.quantity__master-container .slds-icon_container {
    cursor: pointer;
}

.quantity__master-container .quantity__text-field {
    width: 30px;
}
