.quantity-group {
    padding: 0.85rem;
    width: fit-content;
    align-items: center;
    border: 1px solid #DDDBDA;
    border-radius: 4px;
}

/* slds-container flex: 0 1 auto */ 

.quantity-group .slds-icon_container {
    cursor: pointer;
}

.quantity-group input {
    background: transparent;
    outline: none;
    border: none;
}